<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="Host.Service.ChatService">
                <endpoint address="net.tcp://localhost:9090/Chat" binding="netTcpBinding"
                    bindingConfiguration="" contract="Host.Service.IChatService" />
                <endpoint address="net.tcp://localhost:9090/Chat/mex" binding="mexTcpBinding"
                    bindingConfiguration="" name="" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>